body{
    font-family: sans-serif, Arial;
    margin: 0;
    padding: 0;
}

header{
    background: #1f2937;
    color: white;
    padding-right: 100px;
    padding-left: 100px;
    
}

.subheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h4{
    color: white;
    font-weight: bold;
}

.leftsubheader{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.rightsubheader{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.subheader2{
    margin-top: 40px;
    padding-bottom: 40px;
    display:flex;
    flex-direction: row;
    gap: 16px;
}

h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.subsubheader{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

.subsubheader2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.phi{
    width: 500px;
    height: 300px;
    border-radius: 5%;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: rgb(197, 197, 197);
}

.main1{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

h2{
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}

.cards{
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    gap: 20px;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    width: 200px;
}

.card img{
    width: auto;
    height: 200px;
    border: 2px solid #558bf6;
    border-radius: 5%;
    object-fit: cover;
    margin-bottom: 16px;
}

.card img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease; 
}

.card p{
    margin:0;
    padding: 0px;
}

.card p, .card h3{
    text-align: center;
}

.main2{
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.block1{
    margin: 0;
    padding: 0;
    align-self: flex-end;
}

.main3{
    background-color:white;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 300;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blueblock{
    background-color: #3B82F6;
    color: white;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subbutton{
    background-color: #3B82F6;
    color: white;
    border: solid 2px white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 100px;
}

footer{
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 20px;
}