body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background: #273e54;
    color: white;
    padding-right: 100px;
    padding-left: 100px;
    
}

.subheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h4{
    color: white;
    font-weight: bold;
}

.leftsubheader{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.rightsubheader{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.subheader2{
    margin-top: 40px;
    margin-bottom: 40px;
    display:flex;
    flex-direction: row;
}

.subsubheader{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

a{
    text-decoration: none;
    color: grey;
}